<%- include('../partials/header.ejs', { title: 'Balance' }) %>
<%- include('../partials/navigation-start.ejs') %>

<main class="balance">
  <%- include('../partials/page-hero.ejs', {heading: 'balance page'}) %>

</main>

<%- include('../partials/navigation-end.ejs') %>
<%- include('../partials/footer.ejs') %>